.navbar {
    background: rgba(0,0,0,.2);
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* top,bottom, left, right 중 하나 설정되어 있어야함 */
    position: fixed;
    top: 0;
    z-index: 99;
    /* padding: 20px 0; */
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  .navbar-logo{
    height: 40px;
    width: 192px;
    overflow: hidden;
    margin: 0 auto;
  }

  .navbar-logo img {
    width: 192px;
    height: 40px;
    /* aspect-ratio: auto 192 / 40; */
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    object-fit: cover;
  }
  
  /* 일반 네비 메뉴 */
  /* ul */
  .nav-menu {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
    font-weight: 700;
  }
  /* li */
  .nav-item {
    height: 80px;
  }
  /* li links */
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  .nav-links:hover  {
    color: #18a98e!important;
    transition: all 0.2s ease-out;
  }
  

  /* 모바일 */
  @media screen and (max-width: 500px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
    }
    .navbar-box{
      flex-flow: row wrap;
      display: flex;
    place-content: stretch space-between;
    align-items: stretch;
    flex: 1 1 1e-9px;
    font-size: 16px;
    }
    

  
  }