.flexible-modal {
    position: absolute;
    z-index: 1;
    background: white;
  }
  .flexible-modal-mask {
    position: fixed;
    height: 100%;
    background: rgba(55, 55, 55, 0.6);
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .flexible-modal-resizer {
    position:absolute;
    right:0;
    bottom:0;
    cursor:se-resize;
    margin:5px;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
  }
  .flexible-modal-drag-area{
    background:#18a98e !important;
    height: 50px;
    position:absolute;
    right:0;
    top:0;
    cursor:move;
  }
/* 
  .flexible-modal .modal-custom-class{
    display: flex;
    flex-direction: column;
  } */

  /* .modal-custom-class{
    /* z-index: 10; 
  } */
  
  /* 내부 요소 */
  .model__body{
    display: flex;
    flex-direction: column;
  }
  .model__body__divide{
    display: flex;
    flex-direction: row;
  }
  .model__img{
    flex-direction: column;
    display: flex;
    place-content: center;
    align-items: center;
    flex: 1 1 0%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    min-width: 210px;
  }
  .model__content{
    flex-direction: column;
    display: flex;
    place-content: center;
    align-items: center;
    flex: 1 1 0%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    min-width: 210px;
    padding: 20px;
    margin: 10px;
  }
  .model__top{
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  .model__title{
    margin-bottom: 20px;
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 400;
  }
  .model__text{
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 400;
  }
  .model__tech__box{
    flex-direction: column;
    display: flex;
    align-items: flex-start;

  }
  .tech__item{
    display: flex;
    flex-direction: column;
  }
  .tech__title{
    color: #39b599;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 10px 0;
  }
  .tech__content{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
  }

  /* 슬라이더 */
  